.bookBtn {
  border-radius: 1.2rem;
max-width: 23.2rem;
  height:6rem;
  background: var(--decorate-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.56;
  color: var(--main-color);
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}
.bookBtn:is(:hover, :focus) {
  background-color: var(--accent-color);
}
