.fivoritesList{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
    padding-top:3.2rem;
}

.favoritesTitle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--main-color);
    padding-top:6.4rem;
    text-align:center;
}