.topBlock {
  width: 60.7rem;
  height: 2.6rem;
  display: flex;
  gap: 3.2rem;
}
.cardWrap {
  display: flex;
  gap: 4.8rem;
  width: 118.4rem;
  padding: 2.4rem;
  border-radius: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--invent-color);
}
.imgWrapper {
  border: 3px solid var(--accent-color);
  border-radius: 10rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.avatarImg {
  width: 9.6rem;
  height: 9.6;
  border-radius: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid var(--invent-color);
  border-radius: 10rem;
  background-color: var(--rare-color);
  position: absolute;
  top: 12%;
  left: 70%;
  overflow: hidden;
}

.iconWrap {
  display: flex;
  gap: 0.4rem;
  color: var(--main-color);
  align-items: center;
}
.bookOpenIcon {
  width: 1.6rem;
  height: 1.6rem;
  stroke: currentColor;
  fill: transparent;
}
.starIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.iconHeartBtn {
  background-color: transparent;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.heartIcon {
  width: 2.6rem;
  height: 2.6rem;
  fill: transparent;
  stroke: var(--main-color);
}
.favorite {
  fill: var(--decorate-color);
  stroke: var(--decorate-color);
}
.contentWrap {
  width: 96.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--addition-color);
  margin-bottom: 0.8px;
}
.topText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--main-color);
}
.priceText {
  color: var(--rare-color);
}
.benefitsList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.columnWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.benefitsWrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.buttonList {
  display: flex;
  gap: 0.8rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.moreBtn {
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-color);
  display: flex;
  padding: 0;
}
.benefitsText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--addition-color);
}
.infoDecorText {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-color);
}
.infoText {
  color: var(--main-color);
}
.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1;
  color: var(--main-color);
}

@media screen and (max-width: 1024px) {
  .cardWrap {
    gap: 2rem;
    flex-direction: column;
    max-width: 100%;
    position: relative;
  }
  .contentWrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .topBlock {
    gap: 1.8rem;
    margin-bottom: 2rem;
  }
  .iconHeartBtn {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
  .title {
    position: absolute;
    top: 6rem;
    left: 18rem;
  }
}

@media screen and (max-width: 767px) {
  .cardWrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.6rem;
    gap: 2.4rem;
  }
  .contentWrap {
    flex-direction: column;
    align-items: flex-start;
   max-width:100%;
  }
  .iconHeartBtn {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
  .topBlock {
  max-width: 100%;
    gap: 0.3rem;
    flex-direction: column;
    margin-bottom: 12rem;
    
  }
  .buttonList {
    flex-direction: column;
  }
  .title {
    position: absolute;
    top: 6rem;
    left: 16rem;
  }

  .columnWrapper {
    gap: 2.4rem;
  }
  .text {
    margin-bottom: 1rem;
  }
}
