.cardList{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
    padding-top:3.2rem;
    padding-bottom:6.4rem;
    align-items: center;
    
}
@media screen and (max-width: 767px) {
    .cardList{
        gap:2rem;
    }
}
