.logoWrap{
    display: flex;
    gap:0.2rem;
    align-items: center;
}
.logoIcon{ 
    width:2.8rem;
    height:2.8rem;
}
.logoText{
font-family: var(--font-family);
font-weight: 500;
font-size: 2rem;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--main-color);
}
.navList{
    display: flex;
    gap:2.8rem;
}
.headerSection{
    position: relative;
    display: flex;
    align-items: center;
    /* gap:26.8rem;  */
    /* justify-content: center;  */
    justify-content: space-around;
    padding-top:2rem;
    padding-bottom:2rem;
}
.link{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.6rem;
line-height: 1.25;
color:var(--main-color);
}
.link:global(.active){
    color:var(--decorate-color);
    border-bottom:0.2rem solid var(--decorate-color);
}

.burgerBtn{
    background-color: var(--invent-color);
    color:var(--main-color);
    border:none;
    width:2.8rem;
    height:2.8rem;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.burgerIcon{
    width:2.8rem;
    height:2.8rem;
    fill:currentColor;
    stroke:currentColor;
}
.burgerWrapper{
    display: none;
    margin-left: auto;
}
.closeBtn{
    display:none;
}
.menu{
display: flex;
align-items: center;
gap:26.8rem;
}
@media screen and (max-width: 1024px){
    .menu{
      gap:6rem;
    }
    .navList{
        gap:2rem;
    }
} 



@media screen and (max-width: 767px){
    .headerSection{
        justify-content: space-between;
    }
    .burgerWrapper{
        display: block;
    }
    .navList{
        flex-direction: column;
        justify-content: center;
        gap:3.2rem;
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap:8.4rem;
        padding:14rem 3rem 14rem 3rem;
        position:fixed;
        left:-100%;
        top:0;
      justify-content: flex-start;
        width:100%;
        height:100%;
        z-index: 1000;
        background-color: var(--accent-color);
       
        transition:Left  var( --transition-duration) var(--transition-time-function);
        
    }
    .isOpen{
        
        left:0;
    }
    .closeBtn {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        width: 3.2rem;
        height: 3.2rem;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: var(--main-color);
      }
      .closeIcon {
        width: 1.6rem;
        height: 1.6rem;
        stroke: currentColor;
      }
         
   
   
    }
    
