.loginIcon{
    width:2rem;
    height: 2rem;
}
.logOutBtn{
font-family: var(--font-family);
font-weight: 700;
font-size: 1.6rem;
line-height: 1.25;
color:var(--main-color);
background-color: transparent;
border:none;
display: flex;
align-items: center;
gap:0.8rem;
}